.grid {
    margin-top: 3rem;
    background-color: #6666ff;
    border: 5px solid black;
    justify-content: center;
    margin-left: 3vw;
    margin-right: 3vw;
}

div {
    display: flex;
    align-items: center;
}

.stlpec {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0.2rem;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    transition: 0.5s;
}

div > div > p {
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 3px;
}

div > div > div{
    background-color: white;
    border: 2px solid #4545ff;
    border-radius: 40px;
    padding: 12px;
    margin-top: 5px;
}

.stlpec:hover {
    background-color: #454599;
    cursor: pointer;
}
